/*
* @Author: 朱佳敏
* @Date:   2020-12-18 17:21:14
* @Last Modified by:   朱佳敏
* @Last Modified time: 2020-12-20 19:03:27
*/
* {
    margin:0px;
    padding:0px;
}
html, body {
    scrollbar-face-color:#98a363;
    scrollbar-highlight-color:#e3e69d;
    scrollbar-shadow-color:#999;
    scrollbar-3dlight-color:#000;
    scrollbar-arrow-color:#000;
    scrollbar-track-color:#f4f4f0;
    scrollbar-darkshadow-color:#666;
}
/*注：上面关于滚动条的设置在chrome中不可以显示但是在ie中可以*/
body {
    /*关于背景的设置*/
    background:#d9d7cd;
    background-image: url("jpg/01.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
}
ul {
    list-style:none;
    font-size:12px;
}
#top,#vi,#nav,#main,#bt {
    width: 779px;
    margin: 0px auto;
}
#top,#bt {
    background-color:#000;
}
#top {
    margin-top: 20px;
    height:18px;
    padding-top:5px;
    text-align:right;
    color:#fff;
}
#top_txt {
    margin-right: 5px;
}
#top_txt a {
    color:lightblue;
    text-decoration: none;
}
#top_txt a:visited {
    color:lightblue;
}
#top_txt a:hover {
    color:#fff;
}
#vi {
    height:85px;
    background:#98a363;
    background-image: url("jpg/02.jpg");
}
#tt {
    margin-left:100px;
    padding-top:8px;
    text-indent:-40px;
    line-height:1.8em;
    font-size:20px;
    font-weight:bold;
}
#nav {
    height:35px;
    background:#e6e4db;
}
#nav ul {
    margin-left: 30px;
}
#nav ul li {
    float:left;
}
#nav ul a {
    display: block;
    width: 85px;
    height:25px;
    padding-top: 10px;
    text-decoration: none;
    letter-spacing: 15px;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
#nav ul a:visited {
    color: #000;
}
#nav ul a:hover {
    color: #98a363;
    background: #fff;
}
#nav ul li.bar {
    width: 6px;
    padding-top: 12px;
}
#main {
    height: 560px;
    background:#fff;
}
#bt {
    height: 46px;
    padding-top: 34px;
    text-align: center;
    color: #fff;
}

#left {
    width: 180px;
    height: 350px;
    border: 1px solid #d9d7cd;
    margin: 10px;
    float: left;
    clear: left;  /*what is clear mean*/
}

h4 {
    letter-spacing: 1em;
    font-size: 15px;
    background: #e6e4db;
    height:24px;
    border-bottom: 1px solid #d9d7cd;
    padding-top: 5px;
    margin-top: 2px;
    padding-left: 10px;
}
#left h4 {
    width: 170px;
}
#left ul {
    margin: 16px;
    line-height: 3em;
}
#left li {
    width: 150px;
    white-space: nowrap;  /*what is this mean*/
    overflow: hidden;
    text-overflow: ellipsis;
}
#right {
    width: 563px;
    height: 350px;
    border: 1px solid #d9d7cd;
    margin-top: 10px;
    float:left;
}
#right h4 {
    width: 554px;
}
#right h5, #right .date, #right p {
    margin-left: 30px;
}
#right h5 {
    margin-top: 10px;
    font-size: 13px;
}
#right .date {
    font-style: italic;
}
#right p {
    font-family: Georgia;
    font-size: 15px;
    width: 500px;
    height: 90px;
    background: #f4f4f0;
    border: 1px solid #999;
    text-indent: 2em;
    line-height: 1.5em;
    overflow: hidden;
}
hr {
    margin-top: 20px;
}
#photo {
    width: 756px;
    height: 176px;
    border: 1px solid #d9d7cd;
    margin-left: 10px;
    float: left;
}
#photo h4 {
    width: 746px;
}
#photo_img {
    width: 700px;
    margin-left: 60px;
    margin-top: 10px;
    text-align: center;
}
#photo img {
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
    border: 1px solid #d9d7cd;
}
#photo h5 {
    width: 100px;
    margin-right: 30px;
    margin-top: 5px;
    font-size: 12px;
    float: left;
}